.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

html, body {
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/homePage-background.jpg');
  background-attachment: fixed;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: white;
}

.cover-container {
  max-width: 42em;
}

.btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

h1 {
  color: #fff;
  margin: 40px 0 60px 0;
  font-weight: 300;
}